html,
body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    position: relative;

    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    /* scrollbar-width: none;  Firefox */
}

/* WebKit - removes scrollbar on chrome & internet explorer*/
/* body::-webkit-scrollbar { 
    width: 0;
    height: 0;
}  */



body {
    background: var(--body-bg-color);
}

.main {
    background: var(--main-bg-color);
    width: 55%;
    top: 0;  
    margin-top: 55px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    position: relative;
    padding: 20px;
    height: auto;
}

@media (max-width: 1000px)
{
    .main {
        width: 92.5%;
        position: relative;
        float: centre;
        top: 0;
        margin-top: 45px;
        padding: 10px;
        height: auto;
    }
}