button {
    background: var(--button-color);
    border: none;
    color: white;
    /* padding: 30px 75px; */
    padding: 30px 75px;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    transition: 200ms;
    border-radius: 8px;
}

button:hover {
    color: white;
    transform: scale(1.1);
}

.backbutton {
    background-color: #04041ebf;
    border: none;
    color: white;
    padding: 20px 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    transition: 200ms;
    border-radius: 8px;
}

.downloadbutton {
    background-color: #04041ebf;
    border: none;
    color: white;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 2em;
    transition: 200ms;
    border-radius: 8px;
}

.buttoncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

@media (max-width: 768px)
{
    button {
        border: none;
        color: white;
        padding: 30px 50px;
        font-size: 1.4em;
        transition: 200ms;
        border-radius: 8px;
    }

    .backbutton {
        padding: 30px 50px;
        font-size: 1.4em;
    }

    .buttoncontainer
    {
        gap: 1em;
    }
}

@media (max-width: 500px) 
{
    .backbutton {
        padding: 20px 20px;
        font-size: 1em;
    }
}
