:root{
    --main-light-color: white;
    --main-otherlight-color: wheat;
    --body-bg-color: #202231;
    --main-bg-color: #67615F;
    --topnav-color: #86878F;
    --title-color: #081f3c;
    --green-color: #42B887;
    --button-color: #5783db;
    --return-button-color: #538ec9;
  }