.title {
    color: white;
    background-color: var(--title-color);
    font-size: 200%;
    letter-spacing: 1px;
    padding: 30px 10px 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 16px;
    white-space: normal;
    /* -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px; */
}

.smallbox {
    color: white;
    background-color: var(--title-color);
    width: 80%;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 10px 10px;
    border: 2px solid white;
    border-radius: 8px;
}

.smallbox.l {
    text-align: left;
    padding: 0px 10px 0px;
}

@media (max-width: 1000px)
{
    .main {
        width: 92.5%;
        position: relative;
        float: centre;
        top: 0;
        margin: auto;
        padding: 10px;
        height: auto;
    }

    .title {
        width: 85%;
        font-family: 'Helvetica Neue', sans-serif;
        color: white;
        font-size: 250%;
        padding: 10px 0 10px;
    }

    .smallbox {
        color: white;
        width: 80%;
    }

    .smallbox.l {
        font-family: 'Helvetica Neue', sans-serif;
        color: white;
        width: 90%;
        margin: auto;
    }
}

/* mobile */
@media (max-width: 500px)
{  
    .title {
    width: 90%;
    font-size: 200%;
    }
}