.title {
    color: white;
    background-color: var(--title-color);
    font-size: 200%;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 1px 10px 1px;
    width: 75%;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 16px;
    /* -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px; */
}

.smallbox {
    color: white;
    background-color: var(--title-color);
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: 100;
    line-height: 16px;
    letter-spacing: 1px;
    padding: 10px 10px 10px;
    border: 2px solid white;
    border-radius: 8px;
}

.smallbox.l {
    text-align: left;
    padding: 0px 10px 0px;
}

@media (max-width: 1000px)
{
    .main {
        width: 92.5%;
        position: relative;
        float: centre;
        top: 0;
        margin: auto;
        padding: 10px;
        height: auto;
    }

    .title {
        width: 85%;
        font-family: 'Helvetica Neue', sans-serif;
        color: white;
        font-size: 250%;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 1px;
        padding: 0 0 1px;
    }

    .smallbox {
        color: white;
        width: 80%;
        line-height: 16px;
        letter-spacing: 1px;
    }

    .smallbox.l {
        font-family: 'Helvetica Neue', sans-serif;
        color: white;
        width: 90%;
        margin: auto;
        font-weight: 100;
        line-height: 16px;
        letter-spacing: 1px;
    }
}

/* mobile */
@media (max-width: 500px)
{  
    .title {
    width: 90%;
    font-size: 200%;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: 1px;
    }
}