*
{
    font-family: sans-serif;
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 2.5em; 
    margin: 0;
}
h2 {
    font-size: 1.6em;
    line-height: 0.9em;
}

h3{
    font-family: "Lucida Console", "Courier New", monospace;
    color: var(--green-color);
    font-size: 2.2em;
    margin-top: 0px;
    margin-bottom: 15px;
}

h4{
    font-family: "Lucida Console", "Courier New", monospace;
    color: var(--green-color);
    font-size: 1.6em;
    margin-top: 8px;
    margin-bottom: 8px;
}

h5{
    font-size: 1.4em;
    margin: 0;
}

h6{
    margin: 0;
}


hr {
    border: none;
    background-color: var(--body-bg-color);
    width: 90%;
    height: 2px
}

br {
    display: block;
    margin: 10px 0;
}

.box {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

/* Link Settings */

a:link {
    font-style: italic;
    color: palevioletred;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: var(--button-color);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: var(--green-color);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

@media (max-width: 1000px) 
{
    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1.4em;
    }

    hr {
        width: 95%;
    }
}

@media (max-width: 500px) 
{
    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1.2em;
    }

    hr {
        width: 95%;
    }

    h5{
        font-size: 0.6em;
    }
}

