*
{
    font-family: sans-serif;
}

h1, h2 {
  font-weight: 600;
  font-size: clamp(2rem, 10vw, 4rem);
}

h3{
    font-family: "Lucida Console", "Courier New", monospace;
    color: var(--green-color);
    font-size: 2.2rem;
    margin-top: 0px;
    margin-bottom: 15px;
}

h4{
    font-family: "Lucida Console", "Courier New", monospace;
    color: var(--green-color);
    font-size: 1.6rem;
    margin-top: 8px;
    margin-bottom: 8px;
}

h5{
    font-size: clamp(1rem, 3vw, 2rem);
    margin: 0;
}

h6{
    margin: 0;
}


hr {
    color: var(--body-bg-color);
    background-color: var(--body-bg-color);
    width: 90%;
}

br {
    display: block;
    margin: 10px 0;
}

.hr-with-line-breaks {
    display: block;
    content: "\A\A\A\A";
    white-space: pre;
    font-size: 40px;
}
.box {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.swup-wrapper {
  position: relative;
  overflow: hidden;
}
.topnav {
  z-index: 10;
  position: relative;
}
.main {
  position: relative;
  z-index: 1;
}

/* Link Settings */

a:link {
    font-style: italic;
    color: palevioletred;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
color: var(--button-color);
background-color: transparent;
text-decoration: none;
}

a:hover {
color: var(--green-color);
background-color: transparent;
text-decoration: underline;
}

a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}

.pageswap {
    color: red;
    background-color: black;

}


@media (max-width: 600px) 
{
    hr {
        width: 95%;
    }
}

