.skills {
    
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: start;
    gap: 5px;
}



li{
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    transition: 200ms;
    margin-right: 15px;
}

/* li.s{
    border-radius: 8px;
} */

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}


.buttoncontainer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.description {
    font-size: 1.3em;
    line-height: 1.1em;
    margin: 6px;
}

.reference {
    font-style: italic;
    text-align: end;
    margin: 6px;

}

.player-container {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

.itch-container {
    width: auto;
    height: auto;
}

iframe {
    width: 100%;
  }

/* Images */

img {
    max-width: 100%;
    height: auto;
    transition: 200ms;
}

img.interactable
{
    max-width: 90%;
}

img.interactable:hover {
    transform: scale(1.025);
    opacity: 0.9;
    border: #333;
    outline: solid 2px var(--green-color);
}

@media (max-width: 1000px)
{
    .description {
        font-size: 1em;
    }

    ul {
        font-size: 1em;
    }

    li.s{
        font-size: 1em;
    }
}

@media (max-width: 500px)
{
    .description {
        font-size: 0.9em;
    }

    
    ul {
        font-size: 0.8em;
        padding: 0;
    }

    li.s{
        font-size: 1em;
    }
}