.skills {
    
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: start;
    gap: 5px;
}



li{
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    transition: 200ms;
    margin-right: 15px;
}

/* li.s{
    border-radius: 8px;
} */

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}


.buttoncontainer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

p.description {
    font-size: 1.3em;
    line-height: 1.1em;
    margin: 6px;
}

p.intro {
    font-size: 1.6em;
    line-height: 1.3em;
    margin: 6px;
}

.reference {
    font-style: italic;
    text-align: end;
    margin: 6px;
}

.player-container {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

.itch-container {
    width: auto;
    height: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}


img#grid {
    float: left;
    width:  560px;
    height: 315px;
    background-size: cover;
}

iframe {
    width: 100%;
  }

/* Images */

img {
    max-width: 100%;
    height: auto;
    transition: 200ms;
}

img.interactable
{
    max-width: 90%;
}

img.interactable:hover {
    transform: scale(1.025);
    opacity: 0.9;
    border: #333;
    outline: solid 2px var(--green-color);
}

/* Image wrapping */

.image-wrapper {
    display: inline-grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
  }

.container .image {
    width: 50%;
}
  
.container img {
    width: calc(100% - (20px * 2));
    margin: 20px;
}


@media (max-width: 1000px)
{
    .description {
        font-size: 1em;
    }

    ul {
        font-size: 1em;
    }

    li.s{
        font-size: 1em;
    }
}

@media (max-width: 500px)
{
    .description {
        font-size: 0.9em;
    }

    
    ul {
        font-size: 0.8em;
        padding: 0;
    }

    li.s{
        font-size: 1em;
    }

    .image-wrapper {
        display: grid;
        grid-template-columns: initial;
        align-items: center;
        justify-content: center;
      }
    

    img#grid {
        float: left;
        width:  280px;
        height: 157.5px;
        background-size: cover;
    }

    .container img {
        margin: 0px;
    }
}