.topnav-alignment {
    width: 55%;
    background-color: var(--topnav-color);
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    margin: auto;
}

.topnav {
    overflow: auto;
    background-color: var(--topnav-color);
}

.topnav a {
    width: 20%;
    float: left;
    position: relative;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    opacity: 0.6;
    transition: 0.5s;
    border-bottom: 3px solid var(--topnav-color)
}

.topnav a.active {
    color: white;
    opacity: 0.75;
    border-bottom: 3px solid var(--title-color)
}

.topnav a:hover {
    background-color: var(--title-color);
    color: white;
    opacity: 1;
    border-bottom: 3px solid var(--title-color)
}

@media (max-width: 768px)
{
    topnav {
        width: 50%;
        height: auto;
        position: relative;
    }

    .topnav-alignment {
        width: 100%;
    }

    .topnav a {
        width: 20%;
        padding: 12px 8px;
    }
}