/* When Swup adds this, it fades the old page out */

@keyframes dropInFromTop {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-down-fade {
  animation: dropInFromTop 0.5s ease-out;
}
