html, body {
    margin: 0; padding: 0; border: 0; 
}
body {
    background: rgba(0, 0, 0, 0.85);
}

#title {
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #333;
    font-size: 250%; 
    font-weight: 100; 
    line-height: 20px; 
    letter-spacing: 1px; 
    padding: 0 0 1px; 
    border-bottom: double #555; 
    border: 2px solid darkgray;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.75);
    -webkit-text-stroke: 0.8px;
}

h2{
    font-size: 100%;
}

hr{
   color: white;
   width: 90%;
}

#main {
    background: rgb(107, 104, 104);
    width: 70%;
    position: static;
    float: centre;
    top: 0;
    margin: auto;
    padding: 20px;
    height:1000px
}

.topnav-alignment{
    width: 70%;
    background-color: #333;
    position: relative;
    float: centre;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    margin: auto;
}

.topnav {
    overflow: auto;
    background-color: #333;
}

.topnav a {
    width: 20%;
    float: left;
    position: relative;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.topnav a:hover {
    background-color: lightgrey;
    color: black;
}

.topnav a.active {
    background-color: darkslategray;
    color: white;
  }

tab {
    overflow: visible;
    border: 1px solid cadetblue;
    background-color: black;
}

button {
    background-color: crimson;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #34bd38;
    color: white;
  }

/* Mobile settings */
@media screen and (max-width: 850px) {
topnav {
    width: 100%;
    height: auto;
    position: relative;
}

.topnav-alignment{
    width: auto;
}

#main {
    background: rgb(107, 104, 104);
    width: 92.5%;
    position: relative;
    float: centre;
    top: 0;
    margin: auto;
    padding: 10px;
    height:1000px
}

#title {
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #333;
    font-size: 200%;
    font-size-adjust: none;
    font-weight: 100; 
    line-height: 20px; 
    letter-spacing: 1px; 
    padding: 0 0 1px; 
    border-bottom: double #555; 
    border: 2px solid darkgray;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    white-space: normal;
}

}

@media screen and (max-width: 500px) {
    #title
    {
        font-size: 150%;
    }
}